<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activation de votre Compte sur monsite.fr</title>
</head>
<body>
    <p><a href="{{ url('activate', {'userId' : user.id, 'userToken' : user.registerToken}) }}">Cliquez ici</a> pour activer votre compte</p>
</body>
</html>