{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block body %}

<main class="container my-4">
    <div class="row">
        <h1 class="col-12 col-lg-8 offset-lg-2 text-center mb-4 style_title bg-white text-center p-4 comic_case">
            Connexion</h1>
    </div>

    <div class="row">
        {% if success is defined %}
        <p class="alert alert-success col-12 text-center">Vous êtes bien connecté ! <a href="{{ path('home') }}">Cliquez
                ici pour poursuivre</a></p>
        {% else %}
        <div class="col-12 col-lg-6 offset-lg-3 bg-white bg-light p-4 comic_case">
            <form class="form" action="{{ path("login") }}" method="POST">
                <div class="form-group">
                    <label for="">Email</label>
                    <input class="form-control" type="email" name="email" placeholder="exemple@email.com">
                    {% if errorsList.invalidEmail is defined %}
                    <p class="text-danger">Email invalide</p>
                    {% endif %}
                    {% if errorsList.notActive is defined %}
                    <p class="text-danger">Compte pas activé</p>
                    {% endif %}
                    {% if errorsList.notExist is defined %}
                    <p class="text-danger">Compte inexistant</p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="">Mot de passe</label>
                    <input class="form-control" type="password" name="password" placeholder="password">
                    {% if errorsList.invalidPassword is defined %}
                    <p class="text-danger">Mot de passe invalide</p>
                    {% endif %}
                    {% if errorsList.badPassword is defined %}
                    <p class="text-danger">Mauvais mot de passe</p>
                    {% endif %}
                </div>
                <input class="btn btn-success col-12" type="submit">
            </form>
        </div>


        {% endif %}
    </div>
</main>


{% endblock %}