{% extends "base.html.twig" %}

{% block title %} Plan du site {% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3 pt-5">
            <h2 class="text-center">Plan du site</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <ul>
                <li class="" id="index" name="index" ><a href="index.html"> Accueil </a></li>
                <li class="" id="bdbdd" name="bdbdd" ><a href="bdbdd.html"> Bibliothèque des BDs </a></li>
                <li class="" id="affichage_bd" name="affichage_bd" ><a href="affichage_bd.html"> Affichage BD </a></li>
                <li class="" id="profil" name="profil" ><a href="profil.html"> Profil </a></li>
                <li class="" id="edition_profil" name="edition_profil" ><a href="edition_profil.html"> Edition du profil </a></li>
                <li class="" id="contact" name="contact" ><a href="contact.html"> Contact </a></li>
                <li class="" id="mentions_legales" name="mentions_legales" ><a href="mentions_legales.html"> Mentions légales </a></li>
                <li class="" id="error" name="error" ><a href="error.html"> Page d'erreur </a></li>
                <li class="" id="sitemap" name="sitemap" ><a href="sitemap.html"> Sitemap </a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock body %}