/*Mise en forme generale
/*style du body*/
.style_body {
    /*background-color:#cad3a9;*/
    font-family: 'Roboto', sans-serif;
}

/*classe de style des titre*/
.style_title{
    font-family: 'Adventure.otf', Arial, Helvetica, sans-serif;
    font-size: 3.8rem;
    color: #0c2538;
}

/* Couleur de fond des navbar (HEADER et FOOTER) */
.bg_color_dkblue{
    background-color: rgba(12, 37, 56, 0.9);
}

/* HEADER  */
/* Taille logo navbar ITMC */
#index_logo_itmc{
    width: 120px;
}

/* taille de police pour le HEADER */
.header_ft_size{
    font-size: 1.2rem;
}
/* HEADER END */

/* FOOTER START */
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 180px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 180px;
  }

/* FOOTER END */

/*style de la prez du site*/
.prez{
    font-family: 'Comic_book.otf', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #0c2538;
}
.comic_text{
    font-family: 'Comic_book.otf', Arial, Helvetica, sans-serif;
}

/*look case de BD des éléments*/
.comic_case{
    border:5px solid black;
}

/*styles des etoile de vote*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media screen and (max-height: 575px){
}
/* debut style BDBDD */
/*taille de la police de la nav bdbdd*/
.nav_text_size{
    font-size: 3vh;
}
.nav_text_size a{
    color: #000;
}
.nav_text_size a:hover{
    color: #7a9dd6;
}

/* fin style BDBDD */

@media screen and (max-height: 575px){
    body {
        /* Margin bottom by footer height */
        margin-bottom: 400px;
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 400px;
    }
    
    /*Captcha responsive*/
    #rc-imageselect,
    .g-recaptcha {
        transform:scale(0.77);
        transform-origin:0;
        transform:scale(0.77);
        transform-origin:0 0;
        -webkit-transform:scale(0.77);
        transform:scale(0.77);
        -webkit-transform-origin:0 0;
        transform-origin:0 0;
    }

    /*titre responsive*/
    .style_title{
        font-size: 3rem;
    }
    
}